body {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    overflow-x:hidden;
}
@font-face{
	font-family: 'Hiragino Sans GB W3';
	font-family: "Calibri Bold";
	src: url("../fonts/Hiragino Sans GB W3.ttf");
	src:url("../fonts/calibri bold.ttf");
}

/* 头部固定 */
#top_header .is-sticky #filter{
	top:0;
	background:rgba(36,37,82, 0.3); 
}
.header_title{
	font-size: 21px;
}
.panel {
		border-radius :0px !important;
}
.panel-heading{
	   font-weight: 500 !important;
	   padding-left: 0px;
}
.green{
	color: #63B427;
}
.red{
	color: #FF0B0A;
}
.spilt-line{
	width: 100%;
	border-top: 1px solid #ECECEC;
	display: inline-block;
}
.spilt-line1 {
	width: 100%;
	border-top: 1px solid #ECECEC;
	top: -10px;
    position: relative;
}
.mask{       
    position: absolute; 
    top: 60px; 
    left: 0px;  
    filter: alpha(opacity=60); 
    background-color: #777;     
    z-index: 100;   
    opacity:0.5; 
    -moz-opacity:0.5;     
 }  
 .left_menu{
 	position: absolute; 
 	width: 70%;
 	left: -70%;
 	top: 60px;
 	height: 100%;
 	z-index: 200;
 	background-color: #fff;
 }
 .first-menu{
 	height: 50px;
 	line-height: 50px;
 	font-size: 20px;
 	padding-left: 15px;
 	color: #333;
 	letter-spacing: 1px;
 }
 .left_menu .active-menu {
 	background-color: #354EA2; 
 	color: #fff;
 }
 .left_menu ul a li {
 	height: 50px;
 	line-height: 50px;
 	font-size: 18px;
 	padding-left: 30px;
 	color: #9A9A9A;
 	letter-spacing: 1px;
 }

 .left_menu a:hover,.left_menu a:focus{
 	text-decoration: none;
 }

.left_menu a:focus li{
 	color: #354ea2;
 }

.panel-heading {
	border-color: #E6E6E6;
}

.input-small {
	width: 145px !important;
}

.form-control {
   display: inline-block;
}
 
.btn-group>.btn{
	background-color: #E9EBF0;
	color: #000;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
	color: #81838D;
}
.dropdown-menu{
	border-radius: 0px !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a {
    background: #E1E5EC;
    color: #333;
}
.dropdown-menu{
	padding: 0px !important;
	box-shadow: 5px 5px rgba(102, 102, 102, .1);
}

.panel-title{
	min-height:25px;
	color:#38519F;
	font-size: 18px;
	font-family: 'Hiragino Sans GB W3'
}
.state .number {
	margin-top: 5px;
	font-size: 48px;
	color: #354ea2;
	text-align: center;
	font-family: 'Calibri Bold';
}
.state .info {
    margin-bottom: 0;
    font-size: 22px;
    text-align: center;
    font-family: 'Calibri Bold';
}
.state .title {
	color:#97A2B2;
}

.progress-bar.blue-sharp {
	background-color: #8592bd;
}

.progress.vertical {
	float: none;
	margin: 0 auto;
	width: 30px;
}
.progress-sm {
	height: 16px;
	margin-bottom: 0;
}

.progress .progress-bar {
	text-align: right;
	line-height: 16px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress .progress-bar>span {
	position: relative;
	right: 5px;
	top: 0px;
}


/* 销量预警css */
.no-top-border tr th{
	border-top: none  !important;
}
.no-top-border th{
	text-align: center;
}
.bootstrap-table .table:not(.table-condensed)>tbody>tr>td{
	color: #94A2A9 !important;
}
.fixed-table-body thead th .th-inner{
	color: #000 !important;
}


/* dashboard css */
.dash_ul{
	text-align: center;
	font-size: 17px;
	vertical-align: center;
}
.dash_ul li{
	float: left;
	list-style-type: none;
	color: #999999;
	padding-top: 10px;
	padding-bottom: 10px;
}


.dash_ul li.active{
	border-bottom: 2px solid #38519F;
	color: #38519F;
}
.type-info{
	font-size: 16px;
	color: #38519F;
	margin-bottom: 10px;
}

.jq_funnel_bg1_2 {
    background: url(../img/funnel.png) no-repeat 46% 60%;
    background-size: 58%;
}
.data h5{
	font-size: 17px;
	color: #fff;
}

.mark-point {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -75px;
}
.mark-point .point {
	width: 100px;
	position: absolute;
	color: #334b9a
}

.mark-point .point span {
	font-family: 'fjallaone';
	font-size: 14px;
	color: #334b9a;
	margin-right: 10px;
}

.mark-point .point img {
	margin-right: 5px;
}
.legend span {
	display: block;
	margin-top: 5px;
}
.core_font_size{
	font-size: 14px;
}
.core-type{
	text-align:left;
	margin-bottom: 5px;
}
.core_font_color{
	color: #9EA7B7;
}
.align-left{
	text-align:left;
}
.big-circle{
	margin-right:3px;
	font-size:22px;
}
.comment{
	margin-top: 30px;
	margin-bottom: 20px;
}


/* market_eval css */
.border-right{
	border-right:1px solid #E6E6E6;
}

.no-padding-right{
	padding-right: 0px;
}

.ratio{
	font-size: 14px;
	color: #95A1B1;
}
.mkt_nav{
	border:1px solid #ccc;
	border-radius: 8px;
	font-size:17px;
	background-color: #F3F3F3;
}
.mkt_nav_div .active{
	background-color: #354ea2;
	border:1px solid #354ea2;
	color: #fff;
}
